body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(210, 211, 205);
    color: white;
}
header {
    max-width: 600px;
    margin: 30px auto;   
    text-align: center;
    background-color: rgb(102, 125, 255);
    padding: 20px;
    border-radius: 10px;

}
nav {
    background-color: rgb(137, 185, 226);
    border-radius: 10px;
}
nav a{
    margin: 2em;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    max-width: 600px;
    margin: 30px auto;   
    background-color: #6c8bff; /* warna sesuai tema kamu */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  

input, textarea{
    width: 100%;
    padding: 0.5em 10em;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: rgb(47, 66, 66);
    border-radius: 9px;
    padding: 10 20;
}

footer{
    max-width: 600px;
    margin: 30px auto;
    background-color: rgb(102, 125, 255);
    padding: 20px;
    text-align: center;
    border-radius: 1em;
}